<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <div id="block-center">
    <a href="/count-words" style="float:right">Count words</a>
    <a href="/">Home</a>
    <p id="result"></p>
    <ul>
      <% for(var item of collection){ %>
        <!-- <li class="item"><%= item %></li> -->
        <li class="item">the word: <span class="up"><%= item['word'] %></span> is mentioned <span  class="up"><%= item['quantity'] %></span> time(s)</li>
      <% } %>
    </ul>
  </div>
</body>
</html>
