body{
  min-width: 840px;
}
#block-center{
  background-color: rgba(119, 15, 54, 0.87);
  margin: 200px 200px;
  border: 2px solid grey;
  border-radius: 5px;
  color: white;
  font-family: Helvetica;
  font-size: 25px;
  text-transform: uppercase;
}
a{
  color: white;
  text-decoration: none;
  margin: 0 25px;
}
a:hover{
  color: grey;
}

ul{
  text-transform: none;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  list-style-type: none;
}
.up{
  text-transform: uppercase;
  color: #0c0f2f;
}
@media screen and (min-width: 480px) {
  body{
    min-width: 520px;
  }
  #block-center{
    margin: 200px 50px;
  }
}
@media screen and (min-width: 800px) {
  body{
    min-width: 800px;
  }
  #block-center{
    margin: 200px 100px;
  }
}
